 ul,
 li {
     display: block;
 }
 
 li {
     list-style: none;
 }
 
 div.box {
     /* perspective: 400px; */
 }
 body{
     margin: 0;
     padding: 0;
     background-color: rgb(50, 110, 50);
 }
 
 #board {
     width: 500px;
     height: 560px;
     background: skyblue;
     background: url(../images/chessBoard.png) no-repeat;
     background-size: 100%;
     margin: 0 auto;
     /* border: 1px solid red; */
     position: relative;
     display: none;
     /* transform: rotateX(15deg); */
     transform-style: preserve-3d;
 }
 
 .qi {
     width: 60px;
     height: 60px;
     float: left;
     position: absolute;
     display: none;
 }
 /*子被选中后的效*/
 
 .on {
     border: 1px solid white;
 }
 
 .userName {
     width: 200px;
 }
 
 .start {
     display: none;
 }
 
 #headPortrait {
     height: 40px;
     width: 400px;
     border: 1px solid black;
 }
 
 #headPortrait img {
     height: 40px;
     width: 40px;
     float: left;
 }