 ul,
 li {
     display: block;
 }
 
 li {
     list-style: none;
 }
 
 #board {
     width: 600px;
     height: 694px;
     background: skyblue;
     background: url(../images/board.bmp) no-repeat;
     background-size: 100%;
     margin: 0 auto;
     border: 1px solid red;
     display: none;
 }
 
 .qi {
     width: 50px;
     height: 50px;
     float: left;
     position: relative;
     display: none;
 }
 
 .userName {
     width: 200px;
 }
 
 .start {
     display: none;
 }